<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize7.0.0.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mockSiteHexagon/milligram.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mockSiteHexagon/base.css'%}">
	<script type="text/javascript" src="{% static 'js/jquery3.2.1.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/mockSiteHexagon/main.js'%}"></script>
</head>
<body>
	<header>
		<nav class="container">
			{% load static %}
			<img src="{% static 'svg/mockSiteHexagon/logo.svg' %}" alt="Logo" class="top-logo"/>
			<ul>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#" class="button button-outline button-green">Button</a>
				</li>
			</ul>
		</nav>

	</header>

	<main>

	</main>

	<footer>

	</footer>
</body>
</html>
