<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="page-title">My Work</p>
        </div>
    </div>

    <div class="row">
      <!-- <ul class="bubbles">
        <a href="">
          <li class="col-12">
            <p class="title">Blog</p>
          </li>
        </a>
        <a href="">
          <li class="col-12">
            <p class="title">Blog</p>
          </li>
        </a>
        <a href="">
          <li class="col-12">
            <p class="title">Blog</p>
          </li>
        </a>
        <a href="">
          <li class="col-12">
            <p class="title">Blog</p>
          </li>
        </a>
      </ul> -->
    </div>
</div>
