<div class="container">
    <div class="row">
        <div class="col-6">
            {% load static %}
            <img src="{% static 'img/home/me.png'%}" alt="Me" id="center-me" class="me" centerVertically="window">
        </div>
        <div class="col-6">
            <div centerVertically="window" id="center-home-intro">
                <p class="home-intro">
                    <span>Hello,</span><br>
                    I am Jayant Singh
                    <br># Designer
                    <br># Developer
                    <br># Student
                </p>
                <!--<ul>-->
                    <!--<li>Designer</li>-->
                    <!--<li>Developer</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</div>