<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {% load static %}
            <img src="{% static 'img/home/me.png'%}" alt="Me" id="center-me" class="me">
        </div>
    </div>
    <div class="row">
        <h1 style="font-weight: 500; text-align: center; margin: 0;">Jayant Singh</h1>
        <h3 style="font-weight: 400; text-align: center; margin: 0;">Hometown: Lucknow</h3>
        <h3 style="font-weight: 400; text-align: center; margin: 0;">Current City: Greater Noida</h3>
        <ul class="bubbles">
            <a href="https://en.wiktionary.org/wiki/melomaniac" target="_blank">
                <li>#Melomaniac</li>
            </a>
            <a href="https://en.wikipedia.org/wiki/Shutterbug" target="_blank">
                <li>#Shutterbug</li>
            </a>
            <a href="https://en.wikipedia.org/wiki/Developer" target="_blank">
                <li>#Developer</li>
            </a>
            <a href="https://en.wikipedia.org/wiki/Student" target="_blank">
                <li>#Student</li>
            </a>
            <a href="https://en.wikipedia.org/wiki/Designer" target="_blank">
                <li>#Designer</li>
            </a>
        </ul>
    </div>

    <div class="row">
        <h2 style="font-weight: 300; text-align: center; margin-bottom: 0;">SKILLS</h2>
        <ul class="bubbles">
            <a href="https://developer.android.com/index.html">
                <li>#Android</li>
            </a>
            <a href="https://java.com/en/" target="_blank">
                <li>#JAVA</li>
            </a>
            <a href="https://www.python.org" target="_blank">
                <li>#Python</li>
            </a>
            <a href="https://www.djangoproject.com" target="_blank">
                <li>#Django</li>
            </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                <li>#HTML</li>
            </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                <li>#CSS</li>
            </a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <li>#JavaScript</li>
            </a>
            <a href="https://nodejs.org/en/" target="_blank">
                <li>#NodeJS</li>
            </a>
            <a href="https://expressjs.com" target="_blank">
                <li>#ExpressJS</li>
            </a>
            <a href="https://www.mongodb.com" target="_blank">
                <li>#MongoDB</li>
            </a>
            <a href="https://www.json.org" target="_blank">
                <li>#JSON</li>
            </a>
            <a href="https://www.w3.org/XML/" target="_blank">
                <li>#XML</li>
            </a>
            <a href="https://jquery.com" target="_blank">
                <li>#jQuery</li>
            </a>
            <a href="https://getbootstrap.com" target="_blank">
                <li>#Bootstrap</li>
            </a>
            <a href="https://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">
                <li>#ResponsiveWeb</li>
            </a>
            <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">
                <li>#SQL</li>
            </a>
            <a href="https://nginx.org" target="_blank">
                <li>#Nginx</li>
            </a>
            <a href="https://www.kernel.org/" target="_blank">
                <li>#Linux</li>
            </a>
            <a href="https://www.ubuntu.com" target="_blank">
                <li>#Ubuntu</li>
            </a>
            <a href="https://getfedora.org" target="_blank">
                <li>#Fedora</li>
            </a>
            <a href="https://www.centos.org" target="_blank">
                <li>#CentOS</li>
            </a>
            <a href="http://sass-lang.com/" target="_blank">
                <li>#SASS</li>
            </a>
            <a href="https://www.heroku.com/" target="_blank">
                <li>#Heroku</li>
            </a>
            <a href="https://golang.org/" target="_blank">
                <li>#Go</li>
            </a>
            <a href="https://square.github.io/picasso/">
                <li>#Picasso</li>
            </a>
            <a href="https://bumptech.github.io/glide/">
                <li>#Glide</li>
            </a>
            <a href="https://square.github.io/retrofit/">
                <li>#Retrofit</li>
            </a>
            <a href="https://realm.io">
                <li>#Realm</li>
            </a>
        </ul>
    </div>

    <div class="row">
        <h2 style="font-weight: 300; text-align: center; margin-bottom: 0;">EDUCATION</h2>
        <ul class="bubbles">
            <a href="http://iilmcet.ac.in" target="_blank">
                <li>#IILM Academy Of Higher Learning ( 2015 to present )</li>
            </a>
        </ul>
        <ul class="bubbles">
            <a href="https://www.cmseducation.org/" target="_blank">
                <li>#City Montessori School ( 2009 to 2014 )</li>
            </a>
        </ul>
    </div>
</div>