<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="page-title">Get In Touch</p>
            <span class="center"><a class="button hire-me" href="hire-me" target="_blank">Hire Me</a></span>
            <p class="center">For everything else</p>
            <a href="mailto:jayantsingh1248@gmail.com" class="email">jayantsingh1248@gmail.com</a>
        </div>
        <div class="col-12">
            <div class="center">
                {% load static %}
                <a href="https://www.facebook.com/jayant840084" target="_blank">
                    <img src="{% static 'svg/home/facebook.svg' %}" alt="Facebook" class="logo">
                </a>
                <a href="https://www.linkedin.com/in/jayant-singh-514222136/" target="_blank">
                    <img src="{% static 'svg/home/linkedin.svg' %}" alt="Linked In" class="logo">
                </a>
                <a href="https://twitter.com/jayant840084" target="_blank">
                    <img src="{% static 'svg/home/twitter.svg' %}" alt="Twitter" class="logo">
                </a>
                <a href="https://github.com/jayant840084" target="_blank">
                    <img src="{% static 'svg/home/github.svg' %}" alt="Github" class="logo">
                </a>
                <a href="https://www.instagram.com/jayant840084/" target="_blank">
                    <img src="{% static 'svg/home/instagram.svg' %}" alt="Instagram" class="logo">
                </a>
            </div>
        </div>
    </div>
</div>