<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="page-title">My Work</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 work">
            <img src="http://mattfarley.ca/images/ylbuilders.jpg" alt="" class="responsive rounded">
        </div>

        <div class="col-6 work">
            <img src="http://mattfarley.ca/images/basin.jpg" alt="" class="responsive rounded">
        </div>

        <div class="col-6">
            <img src="http://mattfarley.ca/images/ylbuilders.jpg" alt="" class="responsive rounded">
        </div>

        <div class="col-6">
            <img src="http://mattfarley.ca/images/basin.jpg" alt="" class="responsive rounded">
        </div>
    </div>
</div>