{% extends '../template.html' %}

{% block 'head' %}

<title>Welcome | Jayant Singh</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/hireme/base.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/normailze.css'%}">

{% endblock %}

{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>A few quick questions</h1>
            <form action="">
                <div class="row">
                    <div class="col-6">
                        <div class="padding">
                            <input type="text" placeholder="NAME *">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="padding">
                            <input type="email" placeholder="EMAIL ADDRESS *">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="padding">
                            <input type="number" placeholder="PHONE NUMBER">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="padding">
                            <input type="text" placeholder="WEBSITE">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="padding">
                            <textarea name="work" id="work" cols="30" rows="10" placeholder="DESCRIBE YOUR PROJECT. WHAT IT IS? WHAT IS YOUR GOAL? HOW CAN I HELP? TIMELINE AND BUDGET."></textarea>
                        </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="padding">
                            <input type="submit" value="HIRE ME">
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}