@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    background-color: #ffffff;
}

/* ROOT FONT STYLES */

* {
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.5;
    font-size: 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

/* POSITIONING */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.col-1-sm {
    width: 4.33%;
}

.col-2-sm {
    width: 12.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 29.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 54.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 79.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    .col-1 {
        width: 4.33%;
    }
    
    .col-2 {
        width: 12.66%;
    }
    
    .col-3 {
        width: 21%;
    }
    
    .col-4 {
        width: 29.33%;
    }
    
    .col-5 {
        width: 37.66%;
    }
    
    .col-6 {
        width: 46%;
    }
    
    .col-7 {
        width: 54.33%;
    }
    
    .col-8 {
        width: 62.66%;
    }
    
    .col-9 {
        width: 71%;
    }
    
    .col-10 {
        width: 79.33%;
    }
    
    .col-11 {
        width: 87.66%;
    }
    
    .col-12 {
        width: 96%;
    }
    
    .hidden-sm {
        display: block;
    }
}

@media only screen and (min-width: 60em) { /* 960px */
    .container {
        width: 75%;
        max-width: 60rem;
    }
}



nav {
    background: #050505;
    height: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

nav a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    padding: 0;
    margin: 0;
}

nav p {
    text-align: center;
    padding: 3px 0;
    margin: 0;
    color: inherit;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
}



form {
    box-sizing: content-box;
}

input,
textarea {
    width: 100%;
    height:auto;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #050505;
    padding: 14px;
    outline: none;
}


/*IE9*/
*::selection {
    background-color:transparent;
} 
*::-moz-selection {
    background-color:transparent;
}
* {        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{
    
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}   





input[type=submit] {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    background: #151515;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus{
    border-color: #44BBA4;
}

.padding {
    padding: 10px 0;
}

input[type=submit] {
    cursor: pointer;
}

h1 {
    text-align: center;
    
}


.success {
    height: auto;
    background: #1B5E20;
    color: #ffffff;
    border-bottom: 1px solid #164b1a;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
}