<!DOCTYPE html>

<html lang="en-us">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112329523-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-112329523-1');
    </script>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3251368315163019",
            enable_page_level_ads: true
        });
    </script>

    <meta name="yandex-verification" content="6c2d861e17cc8685" />

    <meta name="msvalidate.01" content="23E7FE5B0C187D5BF136E7CAC4F0BB0E" />    
    
    {% block 'head'%}{%endblock%}
</head>

<body style="padding: 0; margin: 0;">
    {% block 'body'%}{%endblock%}
</body>
</html>
