html{
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	color: #000;
	background: #f9f9f9;
}
body{
	margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
#drawer{
	width: 300px;
	height: 100%;
	position: fixed;
	left: -300px;
	top: 0;
	background: #151515;
	text-align: center;
	font-size: 30px;
	color: #aaa;
	z-index: 999;
	box-shadow: 0 0 6px 3px rgba(0,0,0,0.2);
}
#overlay{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.3);
	transition-duration: 0.4s;
}
.content{
	background: #f9f9f9;
	z-index: 2;
}
#toggle{
	background: transparent;
}
#toggle > div{
	height: 2px;
	width: 40%;
	margin: 3px auto 0 auto;
	padding: 0;
	background: #222;
	border-radius: 0px;
}
#close{
	height: auto;
	width: inherit;
	cursor: pointer;
	padding: 10px 0 10px 0;
}
#drawer > a{
	color: #aaa;
	text-decoration: none;
}
#drawer > a > div{
	padding: 10px;
}
#drawer > a > div:hover{
	color: #ccc;
}
#drawer > hr{
	margin: 0 auto 0 auto;
	padding: 0;
	width: 90%;
	height: 2px;
	background: #222;
	border: 0;
}
table.periodic-table{
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
th{
	height: auto;
	background: #e9e9e9;
}
th:hover{
	background: #ddd;
	cursor: pointer;
}
.othernonm{
	background: #5C6BC0;
	cursor: pointer;
}
.alkalim{
	background: #ffc107;
	cursor: pointer;
}
.alkaliem{
	background: #ffeb3b;
	cursor: pointer;
}
.metalloids{
	background: #009688;
	cursor: pointer;
}
.transitionm{
	background: #8bc34a;
	cursor: pointer;
}
.lanthanoids{
	background: #FFA726;
	cursor: pointer;
}
.actanoids{
	background: #cddc39;
	cursor: pointer;
}
.seriesname{
	background: #e9e9e9;
}
.seriesname:hover{
	background: #ddd;
	cursor: pointer;
}
.posttransitionm{
	background: #43A047;
	cursor: pointer;
}
.halogens{
	background: #03a9f4;
	cursor: pointer;
}
.nobleones{
	background: #2196f3;
	cursor: pointer;
}

.blankrow{
	height: 2% !important;
}
p{
	margin: 0;
	padding: 0;
	text-align: center;
}
.overview{
	background: #f9f9f9;
}
.popup{
	width: 100%;
	height: 100%;
	opacity: 0%;
	background: rgba(0,0,0,0.3);
	position: absolute;
	z-index: -1;
}
.view{
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	position: fixed;
	background: #fff;
	border-radius: 2px;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 0 0 50px 5px rgba(0,0,0,0.2);
}
.canvas-container{
	width: 50%;
	height: 100%;
	background: #F57F17;
	padding: 10px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	float: left;
}
canvas{
	width: 100%;
	height: auto;
}
table.info-container {
	width: 50%;
	height: 100%;
	padding: 50px;
	background: #fff;
	overflow: scroll;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

table.info-container tbody {
	padding: 50px;
	margin: 50px;
}

table.info-containers > tr > td {
	margin: 0 20px;
}

table.info-containers td:nth-child(even) {
	background: #f9f9f9;
}

@media (min-width: 912px) {
	#toggle > div{
		width: 30%;
	}
}