[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=jayantsingh
Group=www-data
WorkingDirectory=/home/jayant/portfolio
ExecStart=/home/jayant/portfolio/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/jayant/portfolio/portfolio.sock jayantsingh.wsgi:application

[Install]
WantedBy=multi-user.target
